
    <!DOCTYPE html>
    <html lang="en">
            <head>
            <meta charset="utf-8">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css"/>
                <link rel="stylesheet" href="lib/datatables/media/css/dataTables.bootstrap.css"/>



            <title>Collapsible Tree Example</title>

    <style>


    </style>

    </head>

    <body ng-app="test" >
    <div ng-controller="AngularWayOneTimeBindingCtrl as showCase">
        <table datatable="ng" class="row-border hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons">
                <td>{{ person.cve_id }}</td>
                <td>{{ person.cvename }}</td>
                <td>{{ person.published }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id = "container" style = "margin:0 auto;"></div>
        <!-- load the d3.js library -->
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src='//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js'></script>
    <script src="lib/angular/angular.js"></script>
    <script src="./lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-datatables/dist/angular-datatables.js"></script>

<script>

    var test = angular.module('test',['datatables', 'ngResource'])
            .controller('AngularWayOneTimeBindingCtrl', ['$scope','$resource', function($scope,$resource) {
                $scope.customer = {
                    name: 'Naomi',
                    address: '1600 Amphitheatre'
                };

                var vm = this;
                $resource('/data/cves').query().$promise.then(function(persons) {
                    console.log(persons);
                    $scope.persons = persons;
                });
            }])
            .directive('myCustomer', function() {
                return {
                    template: 'Name: {{customer.name}} Address: {{customer.address}}'
                };
            });

</script>

</body>
</html>
